<div class="men-area">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="#page-top">
          <img id="logo" src="assets/Images/logo-inner.png" class="img-fluid" alt="logo">
        </a>
        <button class="navbar-toggler menu-opened" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> 
        </button> 
        <div class="collapse navbar-collapse" id="nav" style="display:block;">
            <ul class="navbar-nav ms-auto open text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item active" routerLink="/home" ><a class="nav-link">HOME</a></li>
                <li class="nav-item" ><a class="nav-link"routerLink="/shwe-ginga">SHWE GINGA</a></li>
                <li class="nav-item">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Our Products
                  </a>
                  <div class="dropdown-menu sub-menu">
                    <a class="dropdown-item active" routerLink="/SeawaterFishes">Seawater Fishes</a>
                    <a class="dropdown-item active" routerLink="/fishwaterfishes">Fish water Fishes</a>
                    <a class="dropdown-item active" routerLink="/crabexports">Crab Excd ports</a>
                    <a class="dropdown-item active" routerLink="/prawns">Prawns Exports</a>
                    <a class="dropdown-item active" routerLink="/OtherSeafood">Our Other Seafood Exports</a>
                  </div>
                </li> 
                <li class="nav-item"><a class="nav-link" routerLink="/about">ABOUT GOC</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contact">CONTACT</a></li>
            </ul>
        </div>
        </div>
  </nav>
  </div>
  <router-outlet></router-outlet>
<!-- <app-shwe-ginga></app-shwe-ginga>
<app-about-goc></app-about-goc>
<app-contact></app-contact> -->


<footer class="footer2 bg-img theme-overlay-blue-dark py-5" data-overlay-dark="7">
  <div class="container py-3">
      <div class="row">
          <div class="col-sm-6 col-lg-4 pe-5 mt-1-9 wow fadeIn" data-wow-delay="200ms">
              <img src="assets/logo-footer.png" class="mb-3" alt="...">
             <ul class="social-icon-style1 mb-3 d-inline-block list-unstyled">
                  <li class="d-inline-block me-2"><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                  <li class="d-inline-block me-2"><a href="#!"><i class="fab fa-twitter"></i></a></li>
                  <li class="d-inline-block me-2"><a href="#!"><i class="fab fa-youtube"></i></a></li>
                  <li class="d-inline-block"><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
              <p style="color:#ffffff7a;font-size:13px;">&copy; <span class="current-year"></span>&nbsp;Golden Orient Co.,Ltd.</p> 
          </div>
          <div class="col-sm-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="350ms">
              <h3 class="text-white h5 mb-1-9">Head Office (Myanmar)</h3>
                 <p class="mb-0 text-white">  
                    No. 112, Yadanar Theingi Street, Industrial Zone (7), Hlaing Tharyar Township, Yangon.
                 </p>
                 <p class="mb-0 text-white">95-1-528536, 645 220, 645 236</p>
          </div>       
      </div>
  </div>
</footer>


<div>
    <!-- <a class="scroll-to-top" style="display: inline;" >
        <i class="fa-solid fa-angle-up"></i>
        </a> -->
<a href="#!" id="div" class="scroll-to-top" style="display: inline;" *ngIf="isShow" (click)="gotoTop()"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
</div>







<!-- <script>
//     $.fn.scrollBottom = function(scroll){
//   if(typeof scroll === 'number'){
//     window.scrollTo(0,$(document).height() - $(window).height() - scroll);
//     return $(document).height() - $(window).height() - scroll;
//   } else {
//     return $(document).height() - $(window).height() - $(window).scrollTop();
//   }
// }
//Basic Usage
    // $(window).bind('scroll',function(){
    //     if($(window).scrollBottom() > 100){
    //         $('#navbar-example2').hide();
    //     }
    //     else{
    //         $('#navbar-example2').show();
    //     }
    // })
//     $(window).scroll(function() {
//     if ($(this).scrollTop()> 200) {
//         $('#navbar-example2').fadeOut();
//      }
//     else {
//       $('#navbar-example2').fadeIn();
//      }
//  });
</script> -->